/* Border Box  */

p {
    color:orange;
}
 

/* Borders for the NBA Height Converter*/
.bordered-box {
    width: 300px;
    height: 300px;
    border: 2px solid #000; /* Black solid border */
    padding: 20px;
    margin: 20px auto; /* Center the div horizontally */
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1); /* Optional shadow for effect */
    text-align: center;
    font-family: Arial, sans-serif;
    border-color: orange;
    color:orange;
}

.btn-change {
    font-size: medium;
    width: 100px;
    text-align: center;
}


body {
    background-color: black; /* Light gray background */
    color: orange;
    font-family: Arial, sans-serif;
  }
  
  .navbar {
    margin-bottom: 20px;
  }
  
  .navbar .nav-link {
    color: #333;
    font-weight: bold;
  }
  
  .navbar .nav-link:hover {
    background-color: #ffc107;
    color: black;
  }
  
  .hero {
    text-align: center;
    margin: 20px;
  }
  
  .hero h1 {
    font-size: 3rem;
    color: #ffc107;
    margin-bottom: 10px;
  }
  
  .hero h2 {
    font-size: 1.5rem;
    color:#ffc107;
    margin-bottom: 20px;
  }
  
  ul {
    color: #333;
    text-align: center;
    list-style-type: none;
    padding: 0;
  }
  
  ul li {
    font-size: 1.2rem;
    margin: 5px 0;
  }
  
  footer {
    text-align: center;
    margin-top: 30px;
    padding: 10px;
    background-color: #ffc107;
    color: black;
  }