.columns {
    display: flex;
    justify-content: space-around;
    background-color: #808080;
    color: black;
    padding: 20px;
}
.column {
    flex: 10;
    margin: 10px;
    text-align: center;
    border: 2px solid orange;
    color:black;
    padding: 1px;
}